DJANGO_DEBUG=True
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=*
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=sintel
DATABASE_USER=sintel
DATABASE_PASSWORD=sintel
REDIS_URL=redis://redis:6379/0
DEFAULT_FROM_EMAIL=no-reply@sintel.local
TIME_ZONE=America/Bogota
