# 1. Ignorar absolutamente todo en la raíz
/*

# 2. Excepciones: Carpetas y archivos que SÍ se van a subir
!/documentacion/arquitectura_general.md
!/apps/
!/config/
!/.gitignore

# 3. Reglas de limpieza internas (por si acaso dentro de apps o config hay basura)
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
.env
