{# assets_cotizaciones.html - Recursos JS/CSS para Cotizaciones v2.61.8 #}
{# Orden de carga: 1.Namespace 2.API 3.Utils 4.Table 5.UI 6.List 7.Editor 8.Detalle 9.Main(orquestador) #}
{% load static %}
<link rel="stylesheet" href="{% static 'cotizaciones/css/cotizaciones.css' %}">
<script src="{% static 'cotizaciones/js/cotizaciones.module.js' %}"></script>
<script src="{% static 'cotizaciones/js/cotizaciones.api.js' %}"></script>
<script src="{% static 'cotizaciones/js/cotizaciones.utils.js' %}"></script>
<script src="{% static 'cotizaciones/js/cotizaciones.table.js' %}"></script>
<script src="{% static 'cotizaciones/js/cotizaciones.ui.js' %}"></script>
<script src="{% static 'cotizaciones/js/cotizaciones.list.js' %}"></script>
<script src="{% static 'cotizaciones/js/cotizaciones.editor.js' %}"></script>
<script src="{% static 'cotizaciones/js/cotizaciones.detalle.js' %}"></script>
<script src="{% static 'cotizaciones/js/cotizaciones.main.js' %}"></script>
