{% load static %}


{# BLOQUE 1: API Wrappers - DEBE cargarse PRIMERO (requerido por features) #}
<script src="{% static 'core/js/clientes/clientes.api.js' %}"></script>

{# BLOQUE 2: Features - Módulos Refactorizados #}
<script src="{% static 'core/js/clientes/clientes.utils.js' %}"></script>
<script src="{% static 'core/js/clientes/clientes.list.js' %}"></script>
<script src="{% static 'core/js/clientes/clientes.editor.js' %}"></script>
<script src="{% static 'core/js/clientes/clientes.detalle.js' %}"></script>
<script src="{% static 'core/js/clientes/clientes.contactos.js' %}"></script>

