{# items_table_head.html - Fase 11 (PLAN_OPTIMIZACION_COMPRAS...) #}
{# Encabezado de la tabla de Items -- identico entre crear/editar; el tbody #}
{# si difiere (vacio + sincronizacion de Requisicion en crear vs filas      #}
{# server-rendered en editar) y se queda en cada template.                 #}
<thead>
    <tr>
        <th style="width: 40%;">Descripción *</th>
        <th style="width: 15%;" class="text-end">Cantidad *</th>
        <th style="width: 20%;" class="text-end">Val. Unitario *</th>
        <th style="width: 10%;" class="text-end">IVA %</th>
        <th style="width: 15%;" class="text-end">Total</th>
        <th style="width: 50px;" class="text-center"></th>
    </tr>
</thead>
