{% load static %}
{# assets_ventas.html - Carga de assets para modulo Ventas #}

{% include 'tenant/ventas/partials/assets_ventas_datatables.html' %}
<script src="{% static 'core/js/common/datatables.factory.js' %}"></script>

<script src="{% static 'ventas/js/ventas.api.js' %}"></script>
<script src="{% static 'ventas/js/features/venta_list.js' %}"></script>
<script src="{% static 'ventas/js/features/venta_editor.js' %}"></script>
<script src="{% static 'ventas/js/features/resolucion_editor.js' %}"></script>
<script src="{% static 'ventas/js/features/sincronizar_facturas.js' %}"></script>
